div#login-form {
  margin-top: 25vh;
}

div.logo {
  margin: 0 auto;
}

div.alert-container {
  display: flex;
}

div.alert {
  margin: 0 auto;
  text-align: center;
  min-width: 300px;
}

button.close-alert {
  height: 100%;
}
