/* .validation-alert {
  position: fixed;
  bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 100;
  padding: 20px;
}

.popupWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
